.about {
  padding: var(--section-padding) var(--site-padding);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4em;
  background-color: var(--secondary-color);

  .img-view {
    display: flex;
    @include image-decorator($decorSpace:0);

    img {
      @include image-setting($radius:70% 30% 70% 30% / 30% 70% 30% 70%);
    }
  }

  .content-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;

    .sect-define {
      @include section-define;
      text-align: center;
    }

    .title {
      @include section-title;
      text-align: center;
    }

    .info {
      .know-more {
        font-size: 1em;
        font-weight: 400;
        text-align: center;
        color: var(--primary-text-color);

        .terms {
          display: block;
          font-size: 0.8em;
          font-weight: 300;
          color: var(--secondary-text-color);
        }
      }
    }
  }
}