@font-face {
  font-family: "Cairo";
  font-weight: 300;
  src: url("/assets/font/Cairo/Cairo-Regular.ttf") format("TrueType");
}

@font-face {
  font-family: "Cairo";
  font-weight: 400;
  src: url("/assets/font/Cairo/Cairo-Medium.ttf") format("TrueType");
}

@font-face {
  font-family: "Cairo";
  font-weight: 500;
  src: url("/assets/font/Cairo/Cairo-SemiBold.ttf") format("TrueType");
}

@font-face {
  font-family: "Cairo";
  font-weight: 600;
  src: url("/assets/font/Cairo/Cairo-Bold.ttf") format("TrueType");
}

@font-face {
  font-family: "Cairo";
  font-weight: 700;
  src: url("/assets/font/Cairo/Cairo-Black.ttf") format("TrueType");
}
