* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  transition: 0.2s ease-in-out;
}

body {
  font-family: Cairo, sans-serif;

  .main {
    max-width: 100vw;
    background-color: var(--primary-color);
    overflow: hidden;

    .button-primary {
      @include button;
    }

    .button-secondary {
      @include button(transparent);
    }
  }
}

::selection {
  background-color: var(--accent-color);
  color: #FFFFFF;
}

::-moz-selection {
  background-color: var(--accent-color);
  color: #FFFFFF;
}

::-webkit-scrollbar {
  width: 0.5vw;
  background-color: var(--secondary-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--secondary-accent-color);
  border-radius: calc(0.5vw / 2);
}

:focus {
  outline: none;
}